In [1]:
import pandas as pd
from time import time

from src.data.problem import Problem

from src.solvers.dp_solver import DPSolver

from src.utils import calculate_costs

In [2]:
example_problem = Problem.from_example()

In [3]:
dataset_data_params = [(1, 5, 10, 10), (2, 5, 10, 10), (3, 5, 10, 10), 
                       (1, 5, 5, 5), (2, 5, 5, 5), (3, 5, 5, 5),
                       (1, 10, 10, 10), (2, 10, 10, 10), (3, 10, 10, 10), 
                       (1, 5, 10, 20), (2, 5, 10, 20), (3, 5, 10, 20), 
                       (1, 5, 20, 10), (2, 5, 20, 10), (3, 5, 20, 10), 
                       (1, 5, 20, 20), (2, 5, 20, 20), (3, 5, 20, 20)]

### Dynamic programming

I tried to solve the problem using dynamic programming using the following formulation:

$costs[i, m]$ - optimal cost to finish operation if we start $i$-th sub-operation in $m$-th city

for the last sub-operation:

$$
costs[i_{last}, m] = os_{i_{last}, m}
$$

for all other sub-operations:

$$
costs[i, m] = \min_{m' \in M}{(os_{i, m} + ls_{m, m'} + costs[i+1, m'])}
$$

Complexity: $O(IKM^2)$

In [4]:
dp_solver = DPSolver()
start = time()
solution = dp_solver.solve(example_problem)
run_time = time() - start
solution, run_time

({'Operation1': {'Subtask1': 'Erfurt',
   'Subtask2': 'Erfurt',
   'Subtask4': 'Frankfurt',
   'Subtask5': 'Hamburg',
   'Subtask6': 'Berlin',
   'Subtask8': 'Erfurt',
   'Subtask9': 'Erfurt',
   'Subtask10': 'Bremen'},
  'Operation2': {'Subtask1': 'Hannover',
   'Subtask3': 'Dresden',
   'Subtask4': 'Frankfurt',
   'Subtask6': 'Berlin',
   'Subtask7': 'Hannover',
   'Subtask9': 'Dusseldorf',
   'Subtask10': 'Bremen'},
  'Operation3': {'Subtask1': 'Hannover',
   'Subtask4': 'Bremen',
   'Subtask5': 'Hamburg',
   'Subtask6': 'Berlin',
   'Subtask7': 'Hannover',
   'Subtask8': 'Erfurt',
   'Subtask10': 'Bremen'},
  'Operation4': {'Subtask1': 'Hannover',
   'Subtask2': 'Dresden',
   'Subtask3': 'Dresden',
   'Subtask4': 'Frankfurt',
   'Subtask8': 'Erfurt',
   'Subtask9': 'Erfurt',
   'Subtask10': 'Bremen'},
  'Operation5': {'Subtask1': 'Hannover',
   'Subtask2': 'Dresden',
   'Subtask3': 'Dresden',
   'Subtask4': 'Frankfurt',
   'Subtask5': 'Hamburg',
   'Subtask6': 'Berlin',
   'Subtask7': 'Hannover',
   'Subtask8': 'Erfurt',
   'Subtask9': 'Erfurt',
   'Subtask10': 'Bremen'}},
 0.007133007049560547)

In [5]:
calculate_costs(example_problem, solution)

np.float64(8253.642421344399)

In [6]:
solutions = {"example": {"cost": calculate_costs(example_problem, solution), "solution": solution, "time": run_time}}

In [7]:
for param in dataset_data_params:
    number, operations, sub_operations, cities = param
    print(f"operations-{operations},sub_operations-{sub_operations},cities-{cities}-{number}")
    p = Problem.from_dataset(number, operations, sub_operations, cities)
    start = time()
    solution = dp_solver.solve(p)
    run_time = time() - start

    solutions[f"{operations},{sub_operations},{cities}-{number}"] = {"cost": calculate_costs(p, solution), 
                                                                     "solution": solution, 
                                                                     "time": run_time}

operations-5,sub_operations-10,cities-10-1
operations-5,sub_operations-10,cities-10-2
operations-5,sub_operations-10,cities-10-3
operations-5,sub_operations-5,cities-5-1
operations-5,sub_operations-5,cities-5-2
operations-5,sub_operations-5,cities-5-3
operations-10,sub_operations-10,cities-10-1
operations-10,sub_operations-10,cities-10-2
operations-10,sub_operations-10,cities-10-3
operations-5,sub_operations-10,cities-20-1
operations-5,sub_operations-10,cities-20-2
operations-5,sub_operations-10,cities-20-3
operations-5,sub_operations-20,cities-10-1
operations-5,sub_operations-20,cities-10-2
operations-5,sub_operations-20,cities-10-3
operations-5,sub_operations-20,cities-20-1
operations-5,sub_operations-20,cities-20-2
operations-5,sub_operations-20,cities-20-3

In [8]:
df_result = pd.DataFrame(solutions).T
df_result

,cost,solution,time
example,8253.642421,"{'Operation1': {'Subtask1': 'Erfurt', 'Subtask...",0.007133
"5,10,10-1",5086.083142,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.002311
"5,10,10-2",7352.656259,"{'Operation1': {'Sub-operation1': 'city9', 'Su...",0.002635
"5,10,10-3",7652.315227,"{'Operation1': {'Sub-operation1': 'city4', 'Su...",0.00323
"5,5,5-1",2648.629467,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.001028
"5,5,5-2",5944.423926,"{'Operation1': {'Sub-operation1': 'city4', 'Su...",0.001911
"5,5,5-3",6653.881317,"{'Operation1': {'Sub-operation1': 'city4', 'Su...",0.00124
"10,10,10-1",12221.755638,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.004991
"10,10,10-2",14275.526163,"{'Operation1': {'Sub-operation1': 'city9', 'Su...",0.005723
"10,10,10-3",14200.754292,"{'Operation1': {'Sub-operation1': 'city4', 'Su...",0.007366
"5,10,20-1",4252.038054,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.00642
"5,10,20-2",5497.293768,"{'Operation1': {'Sub-operation1': 'city11', 'S...",0.007475
"5,10,20-3",5866.17632,"{'Operation1': {'Sub-operation1': 'city11', 'S...",0.008587
"5,20,10-1",13512.960159,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.004576
"5,20,10-2",15803.260063,"{'Operation1': {'Sub-operation1': 'city7', 'Su...",0.006108
"5,20,10-3",16703.557919,"{'Operation1': {'Sub-operation1': 'city7', 'Su...",0.005569
"5,20,20-1",11392.82206,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.015697
"5,20,20-2",13045.156239,"{'Operation1': {'Sub-operation1': 'city16', 'S...",0.016489
"5,20,20-3",14366.020049,"{'Operation1': {'Sub-operation1': 'city14', 'S...",0.015833

In [9]:
df_result.to_csv("../data/solutions/dp.csv", index=True)