In [1]:
import pandas as pd

In [2]:
solvers = ["random", "greedy", "mip_paper", "mip", "dp"]

In [5]:
full_df_results = []

for solver in solvers:
    df = pd.read_csv(f"../data/solutions/{solver}.csv", index_col=0)

    df.columns = pd.MultiIndex.from_tuples([(solver, col) for col in df.columns])

    full_df_results.append(df)

full_df_results = pd.concat(full_df_results, axis=1)

In [6]:
full_df_results

                  random                                                     \
                    cost                                           solution
example     16878.957568  {'Operation1': {'Subtask1': 'Erfurt', 'Subtask...
5,10,10-1   12439.931906  {'Operation1': {'Sub-operation3': 'city10', 'S...
5,10,10-2   15300.027177  {'Operation1': {'Sub-operation1': 'city6', 'Su...
5,10,10-3   18722.233420  {'Operation1': {'Sub-operation1': 'city9', 'Su...
5,5,5-1      4225.779499  {'Operation1': {'Sub-operation3': 'city1', 'Su...
5,5,5-2      7418.640281  {'Operation1': {'Sub-operation1': 'city2', 'Su...
5,5,5-3      9196.867503  {'Operation1': {'Sub-operation1': 'city5', 'Su...
10,10,10-1  25788.265490  {'Operation1': {'Sub-operation3': 'city5', 'Su...
10,10,10-2  30311.173586  {'Operation1': {'Sub-operation1': 'city6', 'Su...
10,10,10-3  31034.361477  {'Operation1': {'Sub-operation1': 'city6', 'Su...
5,10,20-1   11136.702634  {'Operation1': {'Sub-operation3': 'city14', 'S...
5,10,20-2   13730.829186  {'Operation1': {'Sub-operation1': 'city7', 'Su...
5,10,20-3   16651.055055  {'Operation1': {'Sub-operation1': 'city7', 'Su...
5,20,10-1   27845.708118  {'Operation1': {'Sub-operation3': 'city7', 'Su...
5,20,10-2   29253.852192  {'Operation1': {'Sub-operation1': 'city7', 'Su...
5,20,10-3   30662.063221  {'Operation1': {'Sub-operation1': 'city2', 'Su...
5,20,20-1   21947.833617  {'Operation1': {'Sub-operation3': 'city12', 'S...
5,20,20-2   29459.325088  {'Operation1': {'Sub-operation1': 'city5', 'Su...
5,20,20-3   32244.381111  {'Operation1': {'Sub-operation1': 'city3', 'Su...

                            greedy  \
                time          cost
example     0.005291   8783.347390
5,10,10-1   0.003567   4702.716728
5,10,10-2   0.005154   6711.654478
5,10,10-3   0.004940   6932.875653
5,5,5-1     0.001992   3189.452273
5,5,5-2     0.004234   6000.718377
5,5,5-3     0.002781   6763.568370
10,10,10-1  0.007520  11784.866093
10,10,10-2  0.011885  13155.581731
10,10,10-3  0.009773  12920.165942
5,10,20-1   0.003135   6312.859604
5,10,20-2   0.006050   9018.644651
5,10,20-3   0.006101   9197.999014
5,20,10-1   0.007381  14257.874615
5,20,10-2   0.009043  15946.880995
5,20,10-3   0.010263  18029.972798
5,20,20-1   0.006505  15379.111108
5,20,20-2   0.008281  16631.388044
5,20,20-3   0.009696  17701.981602

                                                                         \
                                                     solution      time
example     {'Operation1': {'Subtask1': 'Hannover', 'Subta...  0.010807
5,10,10-1   {'Operation1': {'Sub-operation3': 'city1', 'Su...  0.004890
5,10,10-2   {'Operation1': {'Sub-operation1': 'city10', 'S...  0.006272
5,10,10-3   {'Operation1': {'Sub-operation1': 'city10', 'S...  0.006191
5,5,5-1     {'Operation1': {'Sub-operation3': 'city1', 'Su...  0.002846
5,5,5-2     {'Operation1': {'Sub-operation1': 'city2', 'Su...  0.002646
5,5,5-3     {'Operation1': {'Sub-operation1': 'city2', 'Su...  0.002488
10,10,10-1  {'Operation1': {'Sub-operation3': 'city1', 'Su...  0.009909
10,10,10-2  {'Operation1': {'Sub-operation1': 'city10', 'S...  0.012042
10,10,10-3  {'Operation1': {'Sub-operation1': 'city10', 'S...  0.012064
5,10,20-1   {'Operation1': {'Sub-operation3': 'city13', 'S...  0.010581
5,10,20-2   {'Operation1': {'Sub-operation1': 'city10', 'S...  0.011487
5,10,20-3   {'Operation1': {'Sub-operation1': 'city10', 'S...  0.011646
5,20,10-1   {'Operation1': {'Sub-operation3': 'city7', 'Su...  0.013528
5,20,10-2   {'Operation1': {'Sub-operation1': 'city7', 'Su...  0.010654
5,20,10-3   {'Operation1': {'Sub-operation1': 'city7', 'Su...  0.011792
5,20,20-1   {'Operation1': {'Sub-operation3': 'city7', 'Su...  0.021472
5,20,20-2   {'Operation1': {'Sub-operation1': 'city15', 'S...  0.020019
5,20,20-3   {'Operation1': {'Sub-operation1': 'city15', 'S...  0.021582

               mip_paper                                                     \
                    cost                                           solution
example      8253.642421  {'Operation1': {'Subtask1': 'Erfurt', 'Subtask...
5,10,10-1    4131.125634  {'Operation1': {'Sub-operation3': 'city1', 'Su...
5,10,10-2    5503.321218  {'Operation1': {'Sub-operation1': 'city2', 'Su...
5,10,10-3    5849.871060  {'Operation1': {'Sub-operation1': 'city2', 'Su...
5,5,5-1      2576.598208  {'Operation1': {'Sub-operation3': 'city1', 'Su...
5,5,5-2      5425.946189  {'Operation1': {'Sub-operation1': 'city4', 'Su...
5,5,5-3      6149.624015  {'Operation1': {'Sub-operation1': 'city4', 'Su...
10,10,10-1   9761.358987  {'Operation1': {'Sub-operation3': 'city1', 'Su...
10,10,10-2  10921.079954  {'Operation1': {'Sub-operation1': 'city2', 'Su...
10,10,10-3  11187.172451  {'Operation1': {'Sub-operation1': 'city2', 'Su...
5,10,20-1    3548.963825  {'Operation1': {'Sub-operation3': 'city1', 'Su...
5,10,20-2    4524.805988  {'Operation1': {'Sub-operation1': 'city13', 'S...
5,10,20-3    5452.526426  {'Operation1': {'Sub-operation1': 'city11', 'S...
5,20,10-1   10879.150753  {'Operation1': {'Sub-operation3': 'city7', 'Su...
5,20,10-2   12360.110746  {'Operation1': {'Sub-operation1': 'city7', 'Su...
5,20,10-3   13205.052471  {'Operation1': {'Sub-operation1': 'city7', 'Su...
5,20,20-1   10037.328502  {'Operation1': {'Sub-operation3': 'city7', 'Su...
5,20,20-2   11496.384328  {'Operation1': {'Sub-operation1': 'city16', 'S...
5,20,20-3   12724.931577  {'Operation1': {'Sub-operation1': 'city15', 'S...

                                mip  \
                 time          cost
example      1.224163   8253.642421
5,10,10-1    0.832619   4131.125634
5,10,10-2    1.569982   5503.321218
5,10,10-3    2.316133   5849.871060
5,5,5-1      0.047644   2576.598208
5,5,5-2      0.057253   5425.946189
5,5,5-3      0.102458   6149.624015
10,10,10-1   3.621447   9761.358987
10,10,10-2   3.398963  10921.079954
10,10,10-3   2.623907  11187.172451
5,10,20-1   28.205571   3548.963825
5,10,20-2   46.294328   4524.805988
5,10,20-3   60.791091   4955.329235
5,20,10-1   60.409412  10687.468451
5,20,10-2   60.551619  12147.769571
5,20,10-3   60.514683  12960.070144
5,20,20-1   61.657185   9163.294705
5,20,20-2   61.720897  11025.587680
5,20,20-3   61.686130  11642.741290

                                                                          \
                                                     solution       time
example     {'Operation1': {'Subtask1': 'Erfurt', 'Subtask...   1.203102
5,10,10-1   {'Operation1': {'Sub-operation3': 'city1', 'Su...   0.683056
5,10,10-2   {'Operation1': {'Sub-operation1': 'city2', 'Su...   1.066920
5,10,10-3   {'Operation1': {'Sub-operation1': 'city2', 'Su...   1.087325
5,5,5-1     {'Operation1': {'Sub-operation3': 'city1', 'Su...   0.048534
5,5,5-2     {'Operation1': {'Sub-operation1': 'city4', 'Su...   0.104208
5,5,5-3     {'Operation1': {'Sub-operation1': 'city4', 'Su...   0.155079
10,10,10-1  {'Operation1': {'Sub-operation3': 'city1', 'Su...   1.752874
10,10,10-2  {'Operation1': {'Sub-operation1': 'city2', 'Su...   1.902112
10,10,10-3  {'Operation1': {'Sub-operation1': 'city2', 'Su...   2.140545
5,10,20-1   {'Operation1': {'Sub-operation3': 'city1', 'Su...   3.112474
5,10,20-2   {'Operation1': {'Sub-operation1': 'city13', 'S...   6.114651
5,10,20-3   {'Operation1': {'Sub-operation1': 'city11', 'S...   8.076928
5,20,10-1   {'Operation1': {'Sub-operation3': 'city7', 'Su...   5.749873
5,20,10-2   {'Operation1': {'Sub-operation1': 'city7', 'Su...   6.679742
5,20,10-3   {'Operation1': {'Sub-operation1': 'city7', 'Su...   8.401560
5,20,20-1   {'Operation1': {'Sub-operation3': 'city1', 'Su...  40.868999
5,20,20-2   {'Operation1': {'Sub-operation1': 'city16', 'S...  45.164630
5,20,20-3   {'Operation1': {'Sub-operation1': 'city15', 'S...  44.707953

                      dp                                                     \
                    cost                                           solution
example      8253.642421  {'Operation1': {'Subtask1': 'Erfurt', 'Subtask...
5,10,10-1    4131.125634  {'Operation1': {'Sub-operation3': 'city1', 'Su...
5,10,10-2    5503.321218  {'Operation1': {'Sub-operation1': 'city2', 'Su...
5,10,10-3    5849.871060  {'Operation1': {'Sub-operation1': 'city2', 'Su...
5,5,5-1      2576.598208  {'Operation1': {'Sub-operation3': 'city1', 'Su...
5,5,5-2      5425.946189  {'Operation1': {'Sub-operation1': 'city4', 'Su...
5,5,5-3      6149.624015  {'Operation1': {'Sub-operation1': 'city4', 'Su...
10,10,10-1   9761.358987  {'Operation1': {'Sub-operation3': 'city1', 'Su...
10,10,10-2  10921.079954  {'Operation1': {'Sub-operation1': 'city2', 'Su...
10,10,10-3  11187.172451  {'Operation1': {'Sub-operation1': 'city2', 'Su...
5,10,20-1    3548.963825  {'Operation1': {'Sub-operation3': 'city1', 'Su...
5,10,20-2    4524.805988  {'Operation1': {'Sub-operation1': 'city13', 'S...
5,10,20-3    4955.329235  {'Operation1': {'Sub-operation1': 'city11', 'S...
5,20,10-1   10687.468451  {'Operation1': {'Sub-operation3': 'city7', 'Su...
5,20,10-2   12147.769571  {'Operation1': {'Sub-operation1': 'city7', 'Su...
5,20,10-3   12960.070144  {'Operation1': {'Sub-operation1': 'city7', 'Su...
5,20,20-1    9059.334441  {'Operation1': {'Sub-operation3': 'city1', 'Su...
5,20,20-2   10438.297954  {'Operation1': {'Sub-operation1': 'city16', 'S...
5,20,20-3   11396.639606  {'Operation1': {'Sub-operation1': 'city15', 'S...


                time
example     0.005386
5,10,10-1   0.002185
5,10,10-2   0.002676
5,10,10-3   0.003134
5,5,5-1     0.000993
5,5,5-2     0.001990
5,5,5-3     0.001098
10,10,10-1  0.005155
10,10,10-2  0.005167
10,10,10-3  0.005743
5,10,20-1   0.004940
5,10,20-2   0.006967
5,10,20-3   0.007686
5,20,10-1   0.004654
5,20,10-2   0.004862
5,20,10-3   0.005181
5,20,20-1   0.011303
5,20,20-2   0.013617
5,20,20-3   0.014707

In [10]:
full_df_results[("mip_paper", "cost")] >= full_df_results[("mip", "cost")]

example       True
5,10,10-1     True
5,10,10-2     True
5,10,10-3     True
5,5,5-1       True
5,5,5-2       True
5,5,5-3       True
10,10,10-1    True
10,10,10-2    True
10,10,10-3    True
5,10,20-1     True
5,10,20-2     True
5,10,20-3     True
5,20,10-1     True
5,20,10-2     True
5,20,10-3     True
5,20,20-1     True
5,20,20-2     True
5,20,20-3     True
dtype: bool

In [9]:
full_df_results[("mip", "cost")] >= full_df_results[("dp", "cost")]

example       True
5,10,10-1     True
5,10,10-2     True
5,10,10-3     True
5,5,5-1       True
5,5,5-2       True
5,5,5-3       True
10,10,10-1    True
10,10,10-2    True
10,10,10-3    True
5,10,20-1     True
5,10,20-2     True
5,10,20-3     True
5,20,10-1     True
5,20,10-2     True
5,20,10-3     True
5,20,20-1     True
5,20,20-2     True
5,20,20-3     True
dtype: bool

In [11]:
full_df_results[("mip", "cost")] == full_df_results[("dp", "cost")]

example        True
5,10,10-1      True
5,10,10-2      True
5,10,10-3      True
5,5,5-1        True
5,5,5-2        True
5,5,5-3        True
10,10,10-1     True
10,10,10-2     True
10,10,10-3     True
5,10,20-1      True
5,10,20-2      True
5,10,20-3      True
5,20,10-1      True
5,20,10-2      True
5,20,10-3      True
5,20,20-1     False
5,20,20-2     False
5,20,20-3     False
dtype: bool

In [12]:
full_df_results[("mip", "solution")] == full_df_results[("dp", "solution")]

example        True
5,10,10-1      True
5,10,10-2      True
5,10,10-3      True
5,5,5-1        True
5,5,5-2        True
5,5,5-3        True
10,10,10-1     True
10,10,10-2     True
10,10,10-3     True
5,10,20-1      True
5,10,20-2      True
5,10,20-3      True
5,20,10-1      True
5,20,10-2      True
5,20,10-3      True
5,20,20-1     False
5,20,20-2     False
5,20,20-3     False
dtype: bool